.mid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.mid-container div {
  width: 25%;
  padding: 16px;
}

.mid-container .info-card {
  margin: 24px;
  margin-top: 48px;
}

.mid-container .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  padding: 0px;
  color: #bbb;
  font-size: medium;
  position: relative;
}

.mid-container .line .end {
  position: absolute;
  right: 0;
}

.mid-container .icon {
  width: 80px;
  height: 80px;
  margin: 0px;
}

.mid-container .temp {
  font-size: 64px;
  margin: 0px;
  margin-top: -30px;
}

.mid-container .small-info {
  color: #bbb;
  font-size: medium;
  margin: 0px;
  margin-top: 4px;
}

@media (max-width: 600px) {
  .mid-container div {
    width: 75%;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .mid-container div {
    width: 50%;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .mid-container div {
    width: 35%;
  }
}

.autocomplete-container {
  position: relative;
}

.autocomplete-container .autocomplete-input {
  width: 100%;
  border-radius: 4px;
  padding: 8px;
  border-style: hidden;
}

.autocomplete-container .autocomplete-list {
  text-align: left;
  background-color: white;
  color: #bbb;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  z-index: 100;
  width: 89%;
  max-height: 250px;
  overflow-y: scroll;
}

.autocomplete-container .autocomplete-list p {
  padding: 8px;
  margin: 4px;
  border-radius: 4px;
}

.autocomplete-container .autocomplete-list p:hover {
  cursor: pointer;
  background-color: #bbb;
  color: white;
}
