body {
  margin: 0;
  font-family: Tahoma, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0deg, #4b6cb7 0%, #182848 100%);
  color: snow;
  height: 100vh;
}